:root{
    --primary-color: #C47A6D;
    --secondary-color: #D4A437;
    --tertiary-color:#A0522D;
    --fourth-color: #87a96b;
    --fifth-color: #F5E6D3;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
footer {
    position: relative;
    width: 100%;
    padding: 50px 100px;
    background: var(--tertiary-color);
}
footer .footerContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap: 20px;
}
footer .footerContainer .sec h2 {
    position: relative;
    color: var(--secondary-color);
    font-weight: 600;
    margin-bottom: 15px;
}
footer .footerContainer .sec p {
    color: var(--fifth-color);

}
footer .footerContainer .Aboutus p {
    max-width: 550px; 
    line-height: 1.6; 
    text-align: justify; 
}

footer .footerContainer .sci {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 50px);
}
footer .footerContainer .sci li {
    list-style: none; 
}
footer .footerContainer .sci li a {
  display: flex;          
  align-items: center; 
  gap: 8px;              
  text-decoration: none;  
  color: var(--fifth-color);            
}

footer .footerContainer .sci li a img {
  width: 20px;
  height: 20px;
}

footer .footerContainer .quicklinks {
    position: relative;
}
footer .footerContainer .quicklinks ul li {
    list-style: none;
}
footer .footerContainer .quicklinks ul li a {
    color:var(--fifth-color);
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}
footer .footerContainer .contact .info {
    position: relative;
}
footer .footerContainer .contact .info li {
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 16px;
}
footer .footerContainer .contact .info li span {
    color: #d9c5c5;
    font-size: 20px;
}
footer .footerContainer .contact .info li span img {
    width: 20px; 
    height: 20px; 
    object-fit: contain; 
}

footer .footerContainer .contact .info li a {
    color:var(--fifth-color);
    text-decoration: none;
}
.copyriht {
    width: 100%;
    background-color: var(--tertiary-color);
    padding: 20px 100px 30px;
    text-align: center;
    color: var(--fifth-color);
    border-top: 1px solid rgba(255, 255, 255, 0.15);
}
